<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <v-toolbar-title>Empleados Cidenet</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn text rounded :to="{ name: 'Dashboard' }">Dashboard</v-btn>
    </v-app-bar>
    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: 'App',

  data: () => ({
    //
  }),
}
</script>
