<template>
  <v-container fluid mt-5>
    <EmployeeForm :employee="this.employee"></EmployeeForm>
  </v-container>
</template>

<script>
import EmployeeForm from '../components/EmployeeForm'
import { eventBus } from '../main'

export default {
  components: {
    EmployeeForm,
  },
  data() {
    return {
      employee: this.createFreshEmployee(),
    }
  },
  methods: {
    createEmployee(employee) {
      this.$store
        .dispatch('createEmployee', employee)
        .then(() => {
          this.$router.push({
            name: 'Dashboard',
          })
          this.employee = this.createFreshEmployee()
        })
        .catch(() => {})
    },
    createFreshEmployee() {
      return {
        firstName: '',
        otherNames: '',
        firstLastName: '',
        secondLastName: '',
        country: '',
        area: '',
        idType: '',
        idNumber: '',
        status: 'Activo',
      }
    },
  },
  mounted() {
    eventBus.$on('form-submit', async (employee) => {
      await this.createEmployee(employee)
    })
  },
}
</script>
