<template>
  <v-container fluid>
    <v-card class="event-card">
      <v-card-title
        >Modulo empleados
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Buscar"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table :headers="headers" :items="employees" :search="search">
        <template v-slot:top>
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="headline">Esta seguro?</v-card-title>
              <v-card-text> Esta accion es irreversible </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="closeDelete"
                  >Cancelar</v-btn
                >
                <v-btn color="blue darken-1" text @click="deleteItemConfirm"
                  >OK</v-btn
                >
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </template>

        <template v-slot:item.actions="{ item }">
          <v-icon small class="mr-2" @click="loadEdit(item)">
            mdi-pencil
          </v-icon>
          <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
        </template>
      </v-data-table>
    </v-card>

    <router-link :to="{ name: 'Employee' }" style="text-decoration: none">
      <v-btn class="mx-2 secondary" fab fixed right bottom>
        <v-icon dark>mdi-plus</v-icon>
      </v-btn>
    </router-link>
  </v-container>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  data() {
    return {
      search: '',
      dialogDelete: false,
      headers: [
        { text: '1er Nombre', value: 'firstName' },
        { text: 'Otros nombres', value: 'otherNames' },
        { text: '1er Apellido', value: 'firstLastName' },
        { text: '2do Apellido', value: 'secondLastName' },
        { text: 'Tipo documento', value: 'idType' },
        { text: 'Documento', value: 'idNumber' },
        { text: 'Pais', value: 'country' },
        { text: 'Email', value: 'email' },
        { text: 'Estado', value: 'status' },
        { text: 'Acciones', value: 'actions', sortable: false },
      ],
      items: [],
    }
  },
  computed: {
    ...mapState(['employees']),
  },
  methods: {
    ...mapActions(['fetchEmployees', 'deleteEmployee']),
    deleteItem(item) {
      this.editedIndex = this.employees.indexOf(item)
      this.dialogDelete = true
    },
    async deleteItemConfirm() {
      const employee = this.employees[this.editedIndex]
      await this.deleteEmployee(employee)
      this.closeDelete()
    },
    closeDelete() {
      this.dialogDelete = false
    },
    loadEdit(item) {
      console.log(item._id)
      this.$router.push({
        name: 'EmployeeEdit',
        params: { id: item['_id'] },
      })
    },
  },
  created() {
    this.fetchEmployees()
  },
  mounted() {},
}
</script>

<style scoped>
.event-card {
  padding: 20px;
  margin-bottom: 24px;
  transition: all 0.2s linear;
  cursor: pointer;
}
.event-card:hover {
  transform: scale(1);
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.2), 0 1px 15px 0 rgba(0, 0, 0, 0.19);
}
</style>
