<template>
  <v-container fluid mt-5>
    <EmployeeForm :employee="this.employee"></EmployeeForm>
  </v-container>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import EmployeeForm from '../components/EmployeeForm'
import { eventBus } from '../main'

export default {
  props: ['id'],
  components: {
    EmployeeForm,
  },
  data() {
    return {}
  },
  computed: {
    ...mapState(['employee']),
  },
  methods: {
    updateEmployee(employee) {
      this.$store
        .dispatch('updateEmployee', employee)
        .then(() => {
          this.$router.push({
            name: 'Dashboard',
          })
          this.employee = this.createFreshEmployee()
        })
        .catch(() => {})
    },
    ...mapActions(['getEmployee']),
  },
  async created() {
    await this.getEmployee(this.id)
  },
  mounted() {
    eventBus.$on('form-submit', async (employee) => {
      await this.updateEmployee(employee)
    })
  },
}
</script>

<style>
</style>