<template>
  <v-card width="1000" class="mx-auto">
    <form @submit.prevent="submitForm">
      <v-card-title>Registro Empleado</v-card-title>
      <v-card-text>
        <v-row>
          <v-col cols="12" md="2" style="padding: 0px"></v-col>
          <v-col cols="12" md="4">
            <v-text-field
              v-model="employee.firstName"
              label="Primer Nombre"
              :rules="rules"
              counter="20"
            >
            </v-text-field>
            <v-text-field
              v-model="employee.firstLastName"
              label="Primer Apellido"
              :rules="rules"
              counter="20"
            >
            </v-text-field>
            <v-radio-group v-model="employee.country" row>
              <v-radio
                v-for="country in countries"
                :key="country"
                :label="country"
                :value="country"
              ></v-radio>
            </v-radio-group>
            <v-select
              v-model="employee.idType"
              class="mt-3"
              :items="idTypes"
              label="Tipo de documento"
              solo
            ></v-select>
          </v-col>
          <v-col cols="12" md="5">
            <v-text-field
              v-model="employee.otherNames"
              label="Otros nombres"
              :rules="rules"
              counter="50"
            >
            </v-text-field>
            <v-text-field
              v-model="employee.secondLastName"
              label="Segundo Apellido"
              :rules="rules"
              counter="20"
            >
            </v-text-field>
            <v-select
              v-model="employee.area"
              :items="areas"
              label="Area"
              solo
            ></v-select>
            <v-text-field
              v-model="employee.idNumber"
              label="Documento"
              counter="20"
            >
            </v-text-field>
          </v-col>
        </v-row>
      </v-card-text>

      <v-card-actions>
        <v-row>
          <v-col align="end">
            <v-btn type="submit" bottom right color="info">Guardar</v-btn>
          </v-col>
        </v-row>
      </v-card-actions>
    </form>
  </v-card>
</template>

<script>
import { eventBus } from '../main'
export default {
  props: {
    employee: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      countries: ['COLOMBIA', 'USA'],
      idTypes: [
        'Cédula de Ciudadanía',
        'Cédula de Extranjería',
        'Pasaporte',
        'Permiso Especial',
      ],
      areas: [
        'Administración',
        'Financiera',
        'Compras',
        'Infraestructura',
        'Operación',
        'Talento Humano',
        'Servicios Varios',
      ],
      rules: [],
    }
  },
  methods: {
    submitForm() {
      eventBus.$emit('form-submit', this.employee)
    },
  },
  mounted() {
    this.rules.push(
      (value) => value.indexOf('Ñ') < 0 || 'El campo no puede contener Ñ'
    )
  },
}
</script>


<style>
</style>